
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" >
    <%= link_to(cocktails_path) do %>
    <div class="d-flex align-items-center">
      <i class="far fa-smile pentagram"></i>
      <h1 class="ml-2">Drink'em'all</h1>
    </div>
    <% end %>
    <div class="search_mbl">
    <%= form_tag(cocktails_path, method: :get, class: "form-inline ml-auto") do %>
      <%= text_field_tag :term, params[:term], class: "form-control media-mb grow" %>
      <%= submit_tag 'Search', name: nil, class: "btn-ghost btn-ghost-og btn-md my-0 ml-sm-2" %>
    <% end %>
    </div>
</div>



<div class="container mb-5 mt-5 pt-5">

  <div class="cards">

    <% @cocktails.each do |cocktail| %>
        <div class="card-category"  style="background-image: linear-gradient(120deg, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('<%= cocktail.image %>');" onclick="" >
      <%= link_to(cocktail) do %>
            <h2><%= cocktail.name %></h2>
      <% end %>
        </div>
    <% end %>
  </div>
  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-ghost mt-3", style: "width: 100%"%>
  <%= link_to "back to cocktails", cocktails_path,class: "btn btn-ghost mt-3" %>

 </div>


