<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div class="card">
    <div class="card-body">
      <h5 >Ingredients</h5>
      <ul>
      <%@cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %> - <%= dose.description %><%= link_to "delete", dose_path(dose), method: :delete, style: "margin: 4px", class: "btn btn-danger btn-sm" %></li>
      <% end %>
      </ul>
      <%= link_to "create new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary", style: "width: 100%"; %>
    </div>

  </div>

<!--   <div class="card">
    <div class="card-body">
      <h5 >Description</h5>
      <p>A cocktail description</p>

    </div>
  </div> -->
  <%= link_to "back to cocktails", cocktails_path, style: "margin-left: 24px;" %>
</div>

<!--
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->
