<div class="container">
  <h1><%= @cocktail.name %> says Dose Me</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.input :description %>
    <%= f.submit "Add Dose", class: "btn btn-primary" %>
  <% end %>
</div>
